﻿
<hr />

<div class="container col-md-4">
    <div class="form-group row">
        <label for="plateText" class="input-xs">ГРЗ:</label>
        <div class="input-group input-group-sm">
            <input id="plateText" type="text" class="form-control" placeholder="Найти..." aria-describedby="sizing-addon3">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="populateWanted()">Найти</button>
            </span>
        </div>
    </div>

    <div class="form-group row">
        <a class="btn btn-default btn-block input-xs" onclick="populateWanted()">Отобразить все ГРЗ</a>
    </div>

    <div class="form-group row">
        <label class="input-xs">Оперативный интерес:</label>
        <table id="wantedVehiclesTable" data-height="250" class="input-xs"></table>
    </div>

    <div class="form-group row panel panel-default">
        <div class="panel-heading input-xs">
            <label class="panel-title input-xs" id="panel-title">Данные о ТС</label>
        </div>
        <div class="panel-body">
            ...
        </div>
    </div>

    <hr />
</div>

<div class="col-md-8">
    <div id="googleMap" style="width:700px;height:700px;"> </div>
</div>



<script type="text/javascript" src="~/Scripts/wanted/wanted.js"></script>