﻿
<hr />

<div class="container col-md-4">
    
    <div class="form-group row">
        <a class="btn btn-default btn-block input-xs" onclick="populateAreas()">Отобразить все КО</a>
    </div>
    
    <div class="form-group row">
        <div class="row">
            <div class="col-md-6" >
                <label class="input-xs">С:</label>
                <input id="infoFromTime" type="text" class="form-control form_datetime input-xs" aria-describedby="sizing-addon3">
            </div>

            <div class="col-md-6" >
                <label class="input-xs">По:</label>
                <input id="infoToTime" type="text" class="form-control form_datetime input-xs" aria-describedby="sizing-addon3">
            </div>
        </div>
        
        <div class="row" style="padding-left: 15px; padding-right: 15px">
            <a class="btn btn-default btn-block input-xs" onclick="getControlAreaDetails()">Найти</a>
        </div>
        
    </div>

    <div class="form-group row">
        <label class="input-xs">Транспортные средства:</label>
        <table id="vehicleInCaTable" data-height="150" class="input-xs"></table>
    </div>

    <hr />
</div>

<div class="col-md-8">
    <div id="googleMap" style="width:700px;height:700px;"> </div>
</div>



<script type="text/javascript" src="~/Scripts/area/area.js"></script>