﻿@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>Контролируемые области</h1>
    <p class="lead">Решение, которое позволяет определять местонахождение транспортного средства.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Работа с транспортными средствами</h2>
        <p>
            Возможность посмотреть историю движения по Контролируемым областям отдельного
            транспортного средства, наиболее часто посещенные области и его текущее местонахождение. 
        </p>
        <p><a class="btn btn-default" href='@Url.Action("IndexVehicle", "Vehicle")'>Транспортные средства &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Работа с контролируемыми областями</h2>
        <p>
            Возможность просмотреть все существующие контролируемые области, детальный список 
            транспортных средств, находящихся в выбранной области. 
        </p>
        <p><a class="btn btn-default" href='@Url.Action("IndexArea", "Area")'>Контролируемые области &raquo;</a></p>
    </div>
</div>