﻿@using System.Web.UI.WebControls
@model ControlAreas.Generation.Entities.MapModel



<style type="text/css">
    .labels {
        color: white;
        background-color: red;
        font-family: "Lucida Grande", "Arial", sans-serif;
        font-size: 10px;
        text-align: center;
        width: 10px;
        white-space: nowrap;
    }
</style>

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC2p-81OxLi4yGWG6NCs5d4HcnR3PqdOvI&sensor=true">
</script>

<hr />

<div class="form-group col-md-2">
    <div class="row">
        <button type="button" class="btn btn-default" style="width: 150px" onclick="clearDb()">Clear DB</button>
    </div>

    <hr />
    <div class="row">
        <p class="text-muted col-md-8">Region #</p>
        <input class="col-md-4" id="regionNumber" />
    </div>
    <div class="row">
        <p class="text-muted col-md-8">Brand #</p>
        <input class="col-md-4" id="brandNumber" />
    </div>
    <div class="row">
        <p class="text-muted col-md-8">Plate #</p>
        <input class="col-md-4" id="plateNumber" />
    </div>
    <div class="row">
        <p class="text-muted col-md-8">Official #</p>
        <input class="col-md-4" id="officialPlates" />
    </div>

    <hr />
    <div class="row">
        <p class="text-muted col-md-8">Is External</p>
        <input type="checkbox" class="col-md-4" id="isExternal" />
    </div>
    <div class="row">
        <button type="button" class="btn btn-default" style="width: 150px" onclick="nextCA()">Next CA</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default" style="width: 150px" onclick="clearCA()">Clear Current CA</button>
    </div>
    <hr />
    <div class="row">
        <button type="button" class="btn btn-default" style="width: 150px" onclick="submitMap()">Submit map</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default" style="width: 150px" onclick="generateFromFile()">Generate From File</button>
    </div>
    <hr />
    <div class="row">
        <label class="text-muted">Events</label>
    </div>
    
    <div class="row">
        <p class="text-muted col-md-8">PlateId</p>
        <input class="col-md-4" id="eventPlateId" />
    </div>
    <div class="row">
        <p class="text-muted col-md-8">CameraId</p>
        <input class="col-md-4" id="eventCameraId" />
    </div>
    <div class="row">
        <p class="text-muted col-md-8">Sleep time</p>
        <input class="col-md-4" id="eventSleepTime" />
    </div>
    <div class="row">
        <p class="text-muted col-md-8"># events</p>
        <input class="col-md-4" id="eventNumber" />
    </div>

    <div class="row">
        <p class="text-muted col-md-8">P()</p>
        <input class="col-md-4" id="eventRate" />
    </div>
    
    <div class="row">
        <button type="button" class="btn btn-default" style="width: 150px" onclick="generateEventsFinite()">Generate finite</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default" style="width: 150px" onclick="startGenerateEvents()">Start generate</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default" style="width: 150px" onclick="stopGenerateEvents()">Stop generate</button>
    </div>
</div>

<div class="col-md-8">
    <div id="googleMap" style="width:900px;height:700px;"> </div>
</div>

<script type="text/javascript" src="~/Scripts/google/googlemap_work.js"></script>

