﻿
<hr />

<div class="container col-md-4">
    <div class="form-group row">
        <label for="plateText" class="input-xs">ГРЗ:</label>
        <div class="input-group input-group-sm">
            <input id="plateText" type="text" class="form-control" placeholder="Найти..." aria-describedby="sizing-addon3">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="populateVehicle()">Найти</button>
            </span>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="input-xs">Выберите ТС:</label>
        <table id="vehicleTable" data-height="100" class="input-xs"></table>
    </div>
    
    <div class="form-group row">
        <label class="input-xs">КО по времени:</label>
        <div class="input-group input-group-sm">
            <input id="positionTime" type="text" class="form-control form_datetime" aria-describedby="sizing-addon3">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="showAreaOnTime()">Найти</button>
            </span>
        </div>
    </div>

    <div class="form-group row">
        <label class="input-xs">История движения:</label>
        <table id="historyTable" data-height="150" class="input-xs"></table>
    </div>

    <div class="form-group row">
        <label class="input-xs">Частота посещения КО:</label>
        <table id="habitatTable" data-height="150" class="input-xs"></table>
    </div>

    <hr />
</div>

<div class="col-md-8">
    <div id="googleMap" style="width:700px;height:700px;"> </div>
</div>



<script type="text/javascript" src="~/Scripts/vehicle/vehicle.js"></script>