﻿@using System
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title Контролируемые области</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link rel="stylesheet" href="~/Content/bootstrap-table/bootstrap-table.css">
        <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />
    </head>
    <body>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Контролируемые области", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Анализ ТС", "IndexVehicle", "Vehicle")</li>
                        <li>@Html.ActionLink("Анализ КО", "IndexArea", "Area")</li>
                        <li>@Html.ActionLink("Оперативный интерес", "IndexWanted", "Wanted")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Димплом Мушиц С.</p>
            </footer>
        </div>

    
        @RenderSection("scripts", required: false)
        <script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC2p-81OxLi4yGWG6NCs5d4HcnR3PqdOvI&sensor=true"></script>
        <script type="text/javascript" src="~/Scripts/common/init.js"></script>
        <script type="text/javascript" src="~/Content/bootstrap-table/bootstrap-table.js"></script>
        <script type="text/javascript" src="~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.ru.js"></script>
        <script type="text/javascript" src="~/Scripts/common/graham_scan.js"></script>
        <script type="text/javascript" src="~/Scripts/common/map_drawing.js"></script>
    </body>
</html>
